.wrapper {
    width: 1240px;
    margin: 0 auto;
}

/* 顶部导航 */
.shortcut {
    height: 52px;
    background-color: hsl(0, 0%, 20%);
}

.shortcut .wrapper {
    height: 52px;
}

.shortcut li {
    float: right;
    line-height: 52px;
}

.shortcut li a {
    margin-right: 16px;
    padding: 0 16px;
    font-size: 14px;
    color: #dcdcdc;
    border-left: 1px solid #666666;
}

.shortcut ul :nth-child(7) a {
    border: none;
}

.shortcut .wrapper a span {
    display: inline-block;
    margin-right: 8px;
    width: 11px;
    height: 16px;
    background-image: url(../images/sprites.png);
    background-position: -160px -70px;
    vertical-align: middle;
}


/* 头部 */
.header {
    margin: 30px auto;
    height: 70px;
}

.header .logo {
    float: left;
    width: 207px;
    height: 70px;
    background-color: pink;
}

.header .nav {
    float: left;
    margin-left: 40px;
    height: 70px;
}

.header .search {
    position: relative;
    float: left;
    margin-left: 34px;
    margin-top: 24px;
    width: 172px;
    height: 30px;
    border-bottom: 2px solid #e7e7e7;
}

.header .car {
    position: relative;
    float: left;
    margin-left: 15px;
    margin-top: 28px;
    width: 23px;
    height: 23px;
    background-image: url(../images/sprites.png);
    background-position: -119px -69px;
}

.header .logo h1 {
    width: 207px;
    height: 70px;
}

.header .logo a {
    display: block;
    width: 207px;
    height: 70px;
    background-image: url(../images/logo.png);
    background-size: contain;
    font-size: 0;
}

.header .nav li {
    float: left;
    margin-right: 48px;
    line-height: 70px;
}

.header .nav a {
    padding-bottom: 7px;
}

.nav li a:hover {
    color: #27ba9b;
    border-bottom: 1px solid #27ba9b;
}

.search input {
    padding-left: 30px;
    width: 172px;
    height: 28px;
}

.search input::placeholder {
    font-size: 14px;
    color: #ccc;
}

.search span {
    position: absolute;
    left: 2px;
    top: 1px;
    width: 18px;
    height: 18px;
    background-image: url(../images/sprites.png);
    background-position: -79px -69px;
}

.car span {
    position: absolute;
    right: -13px;
    top: -6px;
    width: 20px;
    height: 15px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    background-color: #e26237;
    border-radius: 8px;
}


/*  */
.footer {
    height: 342px;
    background-color: #333;
}

.footer .wrapper {
    width: 1393px;
}

.footer .top {
    padding-top: 60px;
    padding-left: 135px;
    height: 175px;
    border-bottom: 2px solid #434343;
}

.footer .top li {
    position: relative;
    float: left;
    margin-right: 300px;
    width: 195px;
    height: 58px;

    line-height: 59px;
}

.footer .top li:last-child{
    margin-right: 0;
}

.footer .top li::before{
    position: absolute;
    /* display: inline-block; */
    left: 0;
    top: 0;
    width: 58px;
    height: 58px;
    background-image: url(../images/sprites.png);
    background-position: 0 0;
    content: "";
    vertical-align: middle;
}

.footer .top li span{
    margin-left: 72px;
    font-size: 28px;
    color: #fff;
}

.footer .top li:nth-child(2)::before{
    background-position: -130px 0;
}

.footer .bottom{
    margin: 41px auto;
    width: 537px;
    height: 48px;
    font-size: 14px;
    color: #999999;
    text-align: center;
}

.footer .bottom a{
    font-size: 14px;
    color: #999999;
}

.footer .bottom p{
    margin-bottom: 20px;
}

